---
layout: default
title: Home
---
{% for post in site.posts %}
{% unless post.draft %}
<article class="post-144 post type-post status-publish format-standard hentry category-photography category-technology tag-ipad tag-iphone post"> 
<img height="300" src="{{ post.image }}" class="attachment-large-image wp-post-image" />
<a class="featured-image" href="{{ post.url }}" title="{{ post.title }}"></a><div
class="box-wrap"><div
class="box"><div
class="post-content"> <header><h2 class="entry-title"><a
href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
<div class="date-titled">{{ post.date | date_to_string }}</div> 
</header>{{ post.content }}</div></div></div> </article>
{% endunless %}
{% endfor %}