/* @override 
	http://meaningfuluses.com/public/css/media-queries.css */

/* ===[ Text Formatting ]=== */

a { 
	/*color: #b3b3b3;*/
	color: #666;
}

#content div.box a {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 25px 0;
/*    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;*/
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
	font-style: normal;
}

h1 { 
	font-size: 34px;
	line-height: 40px;
}

h2 { 
	font-size: 28px;
	line-height: 32px;
}

h3 { 
	font-size: 26px;
	line-height: 30px;
	font-weight: bold;
}


h4 { 
	font-size: 22px;
	line-height: 22px;
}

h5 { 
	font-size: 19px;
	line-height: 18px;
}

h6 { 
	font-size: 15px;
}

small {
	font-size: 12px;
}

.post-content p { 
	margin: 0 0 28px;
}

.date-titled {
	position: absolute;
	left: 0;
	top: 46px;
	background: #d6d6d6;
	color: #fff;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 15px;
	padding: 0 10px 0 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#tag-container {
	position: relative;
	
	top: -56px;
	left:  210px;
	right: 5px;
	/*z-index: 50;*/
	width:  70px;
	
	
	float: right;
}

ul .tags {
	list-style-type: none;
}

ul li.tags a{
	
	background: #fff;
	color: #c5c5c5;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
	padding: 0 10px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-left: -18px;
	text-decoration: none;
	
}


/* Quotes */

div.footnotes {
	font-size: 80%;
}

sup#fnref {
	
}

a.footnote {
	position: relative; top: -0.5em; font-size: 80%;
}

blockquote {
	background: #fff;
/*	padding: 75px 30px 1px 60px;*/	
	margin: 0 0 30px 0;
	font: 100% Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
	line-height: 32px;
	text-align: left;
	color: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.header .widget {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 00px;
	margin-bottom: 0px;
	border-bottom: solid 0px #ddd;
	word-wrap: break-word;
	display: inline-block;
	width: 100%;
}

blockquote.twitter-tweet {
	line-height: 25px;
	font-size: 90%;
}

blockquote.twitter-tweet img {
	float: left;
	margin-right: 15px;
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	border-radius: 6px;
	margin-bottom: 15px;
	width: 50px;
}

ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none; }
ul.posts li {
  margin-bottom: 20px; }
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 10px;
  text-align: right; }
  
  .muted {
    color: #b2b2b2; }
	
	#icons a i.fa.fa-twitter {
		color: #bdccd5;
	}

#content h2.entry-title a {
	text-decoration: none;
	border-bottom: 1px solid silver;
	border-top-width: 1px;
}


.post {
	margin-bottom: 0;
}

#googlepluscommentsarea {
	margin-top: 30px;
}

.tweet {
	width:100%
}

.tweet iframe{
    width:100%;
}

article.post {
	margin-bottom: 25px;
}

/* Tablet and Mobile */


@media only screen and (max-width:768px) {
  
  h3 {
  	font-weight: normal;
  	font-style: normal;
  }
  .tweet, .tweet iframe {
  	width:auto;
  }
    
    body {
	    font-size: 14px;
	    line-height: 24px; 
    }
    
    .logo-text {
	    padding: 0;
	    margin-bottom: 0;
    }
    
    .nav {
	    display: none;
    }
    
    .header {
    	position: relative;
    	width: 100%;
    	padding: 0;
    	margin-bottom: 0;
    }
    
    .header hgroup {
	    float: none;
    }
    
    .header-nav {
	    float: left;
	    width: 100%;
	    margin: 20px 0 10px 0;
	    padding: 20px;
	    position: relative;
	    border-bottom: none;
	    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		display: none;
	}
    
    .header-nav div {
    	position: relative;
	    float: left;
	    width: 81%;
	    z-index: 50;
	    height: 41px;
    }
    
    .select-menu {
	    display: block;
	    width: 100%;
	    float: left;
    }
	
	.header-nav select.select-menu {
	    position: relative;
	    z-index: 10;
	    width: 100%;
	    height: 41px !important;
	    line-height: 26px;
	    margin: 11px 0;
	}
	
	.header-nav span.select:before {
		font-family: 'FontAwesome';
		-webkit-font-smoothing: antialiased;
		content: "\f0c9";
		position: absolute;
		color: #fff;
		left: 0;
		top: 1px;
		color: #777;
	}
	
	.header-nav span.select {
		display: block;
	}
	
	.header-nav span.select{
	    position: absolute;
	    bottom: 0;
	    float: left;
	    left: 0;
	    padding-left: 20px;
	    width: 100%;
	    height: 41px;
	    line-height: 40px;
	    font-size: 12px;
	    font-weight: bold;
	    color: #fff;
	    text-indent: 15px;
	    background: #282D30;
	    cursor: default;
	    z-index: 1;
	    text-align: left;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    -webkit-border-radius: 2px; 
		-moz-border-radius: 2px; 
		border-radius: 2px;
	}
	
	.logo-subtitle {
		width: 100%;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 0px;
	    letter-spacing: 0;
	    color:#bbb;
	    margin: 0 0 12px;
	    display: inline-block;
	}
	
	#drawer {
		width: 100%;
		position: relative;
		padding: 0 0;
	}
	
	#drawer-inside {
		padding: 20px;
	}
	
	#drawer-toggle {
		display: none;
	}
	
	#drawer-inside .widget {
		padding: 20px 0 20px 0;
		width: 100%;
		border-bottom: solid 1px #393939;
	}

	#drawer-inside .widget:last-child {
		border-bottom: none;
	}
	
	#drawer-toggle2 {
		background: #282D30;
		color: #777;
		padding: 7px 18px 8px 18px;
		display: inline-block;
		-webkit-border-radius: 2px; 
		-moz-border-radius: 2px; 
		border-radius: 2px;
		
		visibility: hidden;
	}
	
	.date-titled {
		display: none;
	}
	
	div.widgets {
		/*display: none;*/
	}
	
	.header .widgets {
		/*display: inline-block;*/
		display: none;
	}
    
    .post {
	    margin-bottom: 25px;
	    padding-bottom: 0;
    }
    
    .page .post .box {
	    padding-bottom: 0;
    }
    
    #wrapper {
    	float: left;
		width: 100%;
		padding: 0px;
	}
	
	.post .box-wrap {
		padding: 20px 20px 0 20px;
	}
	
	.format-status .box-wrap {
		padding: 0;
	}
	
	.status-wrap .box {
		padding: 0 20px 0 65px !important;
	}
	
	.status-wrap .entry-title {
		margin-bottom: 30px;
		margin-right: 20px;
		line-height: 30px;
		font-size: 18px;
	}
	
	.status-wrap .date-title {
		right: 15px;
	}
	
	.post .box {
		width: 100%;
		padding: 0;
	}
	
	.date-title {
		top: 5px;
		right: -20px;
		left: auto;
		padding-left: 8px;
		padding-right: 8px
		-webkit-border-top-left-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	
	.entry-title {
		font-size: 28px;
		/*font-weight: 400;*/
		line-height: 34px;
		margin-bottom: 18px;
		padding-bottom: 0;
		padding-right: 65px;
		font-weight: bold;
	}
	
	.intro {
		margin: 15px 0 12px 0;
	}
	
	.post .post-content {
		padding-bottom: 20px;
	}
	
	#content p {
		margin-bottom: 20px;
	}
	
	#content .meta {
		margin: 0 0 -8px -20px !important;
		padding: 15px 20px 10px 20px;
	}
	
	#content .meta li {
		width: 100%;
		border-right: none;
		border-bottom: solid 1px #e9e9e9;
		padding-bottom: 8px !important;
		padding-top: 10px !important;
		margin-bottom: 0 !important;
	}
	
	blockquote {
		padding-top: 30px;	
		margin: 0 0 30px 0 !important;
		word-wrap: break-word;
		font-size: 90%;
		line-height: 140%;
	}
	
	.format-quote {
		font-size:28px;
	    letter-spacing: 0;
	    line-height: 32px;
	}
	
	.format-quote .box {
		padding: 10px 0 40px 0;
	}
	
	.next-prev {
		display: none;
	}
	
	#content .post-nav {
		margin-top: 25px;
	}
	
	.comments {
		margin-top: 35px;
	}
	
	#comments {
		padding-bottom: 0;
	}
	
	.comments-wrap {
		width: 100;
		margin: 0 auto;
		padding: 30px;
	}
	
	.comments-open { 
		margin-bottom: 40px !important;
	}
	
	.commentlist li {
		padding: 0 0 5px 0;
		margin: 0 0 35px 0;
	}
	
	.commentlist > li:before {
		display: none;
	}
	
	#comments-title {
		margin: 0 0 0 0;
		font-size: 18px;
		letter-spacing: 0;
		padding: 15px 30px;
		text-align: center;
	}
	
	.comments-open #comments-title {
		margin-bottom: 40px;
	}
	
	.comment-meta {
		margin: 0 0 0 15px;
	}
	
	.fn {
		float: none;
	}
	
	.comment-text {
	}
	
	#respond {
		padding-bottom: 0px;
	}
	
	#respond h3 {
		margin-top: 0;
	}
	
	#respond input[type="text"], #respond textarea {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#respond .respond-submit {
		width: 100%;
	}
	
	.comments .logged-in {
		font-size: 14px;
	}
	
	#commentform #submit {
		width: 100%;
		display: block;
	}
	
	.copyright {
		margin: 20px 0 40px 0;
		width: 100%;
	}
	
	blockquote {
	  padding-right: 10px;
	  padding-left: 20px;
	  border-left: 1px solid #e5e5e5;
	}
	
	blockquote.twitter-tweet img {
		width: 35px;
	}
	
	blockquote.twitter-tweet {
		line-height: 20px;
		font-size: 100%;
	}
	
	blockquote.twitter-tweet img {
		margin-right: 15px;
		margin-bottom: 0px;
	}
	
}
 
 
/* Tweaking for iPad Landscape */
@media all and (device-width: 769px) and (device-height: 1024px) {
	
	.header {
		width: 250px;
		padding: 50px 25px 50px 25px;
	}
	
	#wrapper {
	    padding: 50px 75px 0 250px;
	}
	
	#drawer-toggle {
		top: 50px;
	}
	
	#drawer-inside .widget {
		width: 19%;
		padding: 50px 0 50px 40px;
	}
	
	.post .box {
		padding: 40px 100px 15px 100px;
	}
	
	.date-title {
		padding-left: 10px;
	}
	
	#content .meta {
		margin: 23px -100px -7px -100px !important;
		padding: 0 100px 18px 100px;
	}
	
	#content .meta li {
		width: 80px;
		margin: 0 10px 20px 0 !important;
	}
}
 
 



/* Archive Page */
@media only screen and (max-width:1024px) {
	#archive {
		padding-top: 30px;
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
		-moz-column-gap: 0;
		-webkit-column-gap: 0;
		column-gap:0;
	}
	
	.archive-col {
		width: 100%;
	}	
	
	.archive-col ul {
		margin-bottom: 0 !important;
	}
	
	.archive-box {
		border-bottom: solid 1px #eee;
		padding-bottom: 20px;
		margin-bottom: 30px;
	}
	
	.archive-col:last-child .archive-box:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
}