/* Button Styling */

#icons {
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

#icons a {
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-weight: normal;
    float: left;
    height: 24px;
    width: 24px;
    margin: 0 5px 5px 0;
    border-radius: 3px;
}

#icons a:hover {
    text-decoration: none;
    opacity: .95;
}

#icons.icons-circle a {
    border-radius: 30px;
}

#icons.icons-square a {
    border-radius: 0;
}

/* Small Icons */

#icons.small-icons a {
	height: 18px;
	width: 18px;
	line-height: 19px;
	font-size: 12px;
} 

#icons.small-icons .flickr-icon {
	line-height: 1.1;
}

#icons.small-icons .youtube-icon {
	line-height: 1.2;
}

/* Large Icons */

#icons.large-icons a {
	height: 36px;
	width: 36px;
	line-height: 1.8;
	font-size: 20px;
} 

#icons.large-icons .flickr-icon {
	line-height: 1.5;
}

#icons.large-icons .youtube-icon {
	line-height: 1.7;
}

.facebook-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    color: white;
    /*Background*/
    background-color: #5D83BA;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.instagram-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #416d93;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.github-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 15px;
    line-height: 23px;
    color: white;
    /*Background*/
    background-color: #333;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}



.twitter-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #9a9a9a;
    zoom: 1;
    /*Background*/
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.google-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    text-indent: 1px;
    color: white;
    /*Background*/
    background-color: #404040;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.linkedin-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #4B9DCA;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.feed-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #fdaa3e;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.vimeo-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #95B93E;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.youtube-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #D3230A;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.dribbble-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 15px;
    line-height: 23px;
    color: white;
    zoom: 1;
    /*Background*/
    background-color: #E06192;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.tumblr-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #466684;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.wordpress-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: white;
    /*Background*/
    background-color: #337EA1;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.wordpress-icon:after { 
    content: "W";
    font-weight: bold;
    font-family: Georgia, sans-serif;
    border: solid 1px #FFF;
    border-radius: 50px;
    font-size: 10px;
    padding: 1px;
    vertical-align: middle;
    display: inline-block;
    height: 10px;
    line-height: 14px;
}

.pinterest-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #D3230A;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.flickr-icon {
    /*General*/
    display: block;
    text-decoration: none;
    /*Text*/
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    color: white;
    /*Background*/
    background-color: #ff0084;
    width: 44px;
    height: 44px;
    border-radius: 3px;
}
