/* @override http://cdn.okaythemes.com/fixed/wp-content/themes/fixed/style.css?ver=3.6.1
	http://meaningfuluses.com/public/css/style.css
	http://www.meaningfuluses.com/public/css/style.css */

/*
Theme Name: Fixed
Theme URI: http://themes.okaythemes.com/fixed
Description: Fixed is a neatly designed blog-style theme, perfect for sharing photos, videos, quotes, and thoughts.
Author: Mike McAlister / Okay Themes
Author URI: http://okaythemes.com
Version: 2.1
Tags: white, gray, white, two-columns, flexible-width, custom-background, custom-colors, custom-menu, editor-style, featured-images, post-formats, theme-options, translation-ready, photoblogging, threaded-comments
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

html, body {
	overflow-x: hidden;
}

html {
	position: relative;
	background: #fff;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.clearfix {
    *display: inline-block;
    height: 1%;
}

*::-moz-selection, *::-webkit-selection, ::selection, .highlight {
	background: #fff198;
	color: #222;
}

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

:focus { outline: 0 }

ins { text-decoration: none }

del { text-decoration: line-through }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    color: #555;
    background: #f4f4f4;
    font: 18px/30px 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    overflow-x: hidden;
    padding: 0;
}

body.single.single-post.postid-191.single-format-gallery.fixed-bg {
	background: #f4f4f4 url(../grey-cartography.png) fixed;	
}

body.single.single-post.postid-191.single-format-gallery.fixed-bg {
	
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	body.fixed-bg { 
	    background: #f4f4f4 url(../grey-cartography@2X.png) fixed;
	    background-size: 499px 500px;
	    background-attachment: fixed;
	}
}

.android-bg {
	background: #f4f4f4 url(../grey-cartography.png) !important;
}

img { border-style: none }

a { 
	color: #b3b3b3;
	text-decoration: none;
	-webkit-transition: .07s ease-in;  
	-moz-transition: .07s ease-in;  
	-o-transition: .07s ease-in;  
	transition: .07s ease-in;
}

a:hover { 
	color: #555;
	text-decoration: none;
	-webkit-transition: .07s ease-in;  
	-moz-transition: .07s ease-in;  
	-o-transition: .07s ease-in;  
	transition: .07s ease-in;
}

input, textarea, select {
    font: 100% arial,sans-serif;
    vertical-align: middle;
    color: #000;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

hr {
    margin: 40px 0 30px;
    border: 0;
    border-bottom: 1px solid #eee;
    height: 1px;
}

/* ===[ Text Formatting ]=== */

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 25px 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
}

h1 { 
	font-size: 34px;
	line-height: 40px;
}

h2 { 
	font-size: 28px;
	line-height: 32px;
 }

h3 { 
	font-size: 22px;
	line-height: 30px;
}

h4 { 
	font-size: 18px;
	line-height: 22px;
}

h5 { 
	font-size: 14px;
	line-height: 18px;
}

h6 { 
	font-size: 12px;
}

small {
	font-size: 12px;
}

/* ===[ Header Area Styles ]=== */

.sticky-wrapper {
	float: left;
	z-index: 20;
}

.header {
	position: fixed;
	z-index: 10;
	text-align: center;
	width: 300px;
	height: 100%;
	padding: 75px 50px 50px 50px;
	float: left;	
	margin-bottom: 45px;
	font-size: 13px;
	line-height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header hgroup {
	text-align: center;
	float: left;
}

.error404 .post .search-form {
	margin-top: 30px;
	margin: 0 auto;
	position: relative;
}

.error404 .post .search-form-input {
	background: #fff;
	font-weight: normal;
	text-transform: none;
	border: solid 1px #eee;
	border-bottom: none;
	padding: 10px;
	font-size: 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.error404 .post .box-wrap {
	padding-bottom: 65px;
}

.search-form-input {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	box-shadow: rgba(0,0,0, 0.08) 0px 1px 1px;
	-moz-box-shadow: rgba(0,0,0, 0.08) 0px 1px 1px;
	-webkit-box-shadow: rgba(0,0,0, 0.08) 0px 1px 1px;
	padding: 8px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	color: #ccc;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
}

.search-button {
	position: relative;
	background: #555;
	border: none;
	padding: 8px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	display: none;
}

/* ===[ Logo Styles ]=== */

.logo {
    display: block;
    text-indent: -9999px;
    margin: 0;
}

.logo-image {
	display: inline-block;
	margin-bottom: 0;
	width: 100%;
}

.logo-image img {
	margin: 0 auto;
}

.logo-text {
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	letter-spacing: -2px;
	font-weight: normal;
	margin-bottom: 0;
}

.logo-subtitle {
	width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color:#bbb;
    margin: 11px 0 0 0;
    display: inline-block;
}

.logo-text a {
	color: #555;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
}

.logo-text a:hover {
	color: #777;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
}

/* ===[ Navigation Styles ]=== */

.select-menu, .select {
	display: none;
}

.header-nav {
	float: left;
	width: 100%;
	margin: 20px 0;
	padding: 20px 0;
	border-bottom: double 1px #ddd;
	border-top: solid 1px #ddd;
}

.header-nav div {
	float: left;
	width: 100%;
}

.nav a {
	padding: 3px 10px;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.nav a:hover {
	color: #999;
    text-decoration: none;
    cursor: pointer;
}

.nav .current-menu-item a, .nav a:hover {
	color: #333;
	background: #fff186;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

.nav > li {
    padding: 0;
    margin: 0;
}

.nav, .nav ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    line-height: 28px;
}

.nav li {
    position: relative;
}

.nav li:last-child {
	margin-right: 0;
}

/* ===[ Main Body Styles ]=== */

#wrapper {
    position: relative;
    max-width: 1500px;
    padding: 75px 75px 0 300px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#main {
    width: 100%;
    margin: 0 auto;
}

/* ===[ Post Styles ]=== */

.post {
	position: relative;
	background: #fff; 
    margin: 0 0 75px 0;
    box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

.post:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}

.post li {
	list-style-type: square;
	margin-bottom: 5px;
}

.post .featured-image {
	display: inline-block;
	max-width: 100%;
	width: 100%;
}

.post .featured-image img, .attachment-large-image {
	max-width: 100%;
	width: 100%;
	height: auto;
	float: left;
	display: inline-block;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-transition: 1s ease-in;  
	-moz-transition: 1s ease-in;  
	-o-transition: 1s ease-in;  
	transition: 1s ease-in; 
	filter: none;
	-webkit-filter: none;
}

.post .featured-image img:hover, .attachment-large-image:hover {
	
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
	-webkit-transition: 1s ease-in;  
	-moz-transition: 1s ease-in;  
	-o-transition: 1s ease-in;  
	transition: 1s ease-in; 
}

.post .box-wrap {
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.post .box { 
	position: relative;
	margin: 0 auto;
	padding: 40px 140px 15px 140px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page .post .box {
	padding-bottom: 50px;
}

.post .box header {
}

.post .post-content {
	width: 100%;
	float: left;
	padding: 0 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page .post-content {
	padding-bottom: 25px;
}

.post .post-content ul, .post .post-content ol {
	margin: 0 0 30px 18px;
}

.post .post-content ol li {
	list-style-type: decimal;
}

.post .more-link {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
}

.post .more-link:hover {
	color: #555;
}

.post .excerpt-more .more-link {
	margin-top: 30px;
}

.page .date-title, .error404 .date-title {
	display: none;
}

.date-titled {
	position: absolute;
	left: 0;
	top: 46px;
	background: #d6d6d6;
	color: #fff;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 15px;
	padding: 0 10px 0 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.archive-title {
	font-weight: bold;
	background: #fff;
	color: #555;
 	padding: 10px 0;
 	margin: 0 0 30px 0;
 	text-align: center;
 	font-size: 14px;	
 	letter-spacing: 0px;
 	background: #fff;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
}

.entry-title {
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -1px;
    margin: 0 0 14px 0;
    padding: 0 0 0 0;
}

.entry-title a {
    color: #555;
    -webkit-transition: .07s ease-in;  
	-moz-transition: .07s ease-in;  
	-o-transition: .07s ease-in;  
	transition: .07s ease-in;
	text-decoration: none;
	border-bottom: 1px solid silver;
}

.entry-title a:hover {
	color: #777;
	-webkit-transition: .07s ease-in;  
	-moz-transition: .07s ease-in;  
	-o-transition: .07s ease-in;  
	transition: .07s ease-in; 
}

.intro {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #aaa;
	margin: -4px 0 12px 0;
	padding: 0 0 14px 0;
	border-bottom: solid 1px #eee;
}

blockquote {
	background: #f7f7f7;
	padding: 75px 30px 1px 60px;	
	margin: 0 0 30px 0;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 26px;
	line-height: 32px;
	text-align: right;
	color: #aaa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header .widgets {
	display: inline-block;
}

.header .widget {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #ddd;
	word-wrap: break-word;
	display: inline-block;
	width: 100%;
}

.header .widget:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.header .widgettitle {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0px;
}

#content {
    width: 100%;
    margin: 0 auto;
}

#comments {
	margin: 15px 5% 8px !important;
		
		
				
				
				/*padding: 18px 140px;*/
}

/*#content p { 
	margin: 0 0 28px;
}*/

#content img {
	max-width: 100%;
	height: auto;
}

#content .meta {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #999;
	margin: 23px -140px -7px -140px !important;
	padding: 0 140px 18px 140px;
	width: 100%;
	display: inline-block;
	float: left;
	background: #f9f9f9;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#content .meta a {
	color: #999;
	width: 100%;
	display: inline-block;
}

#content .meta a:hover {
	color: #555;
}

#content .meta li {
	position: relative;
	float: left;
	width: 100px;
	list-style-type: none !important;
	margin: 0 20px 20px 0 !important;
	padding: 24px 0 0 0 !important;
	border-right: solid 1px #e9e9e9;
}

#content .meta li:last-child {
	border-bottom: none;
	border-right: none;
	margin-right: 0 !important;
	padding-right: 0 !important;
}

#content .meta li i {
	margin-right: 8px;
}

#content .meta span {
	width: 100%;
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 15px;
	color: #555;
	margin-bottom: 10px;
}

#content .pagelink {
	font-weight: bold;
}

#content .post-nav {
	display: inline-block;
	width: 100%;
	margin: 40px auto -20px auto;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
}

#content .post-nav-inside {
	width: 100%;
}

#content .post-nav a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #777;
	display: block;
	width: 100%;
	padding: 10px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content .post-nav a:hover {
	color: #555;
	background: #f7f7f7; 
}

#content .post-nav i {
	font-size: 11px;
}

#content .post-nav-left i {
	padding-right: 2px;
}

#content .post-nav-right i {
	padding-left: 2px;
}

#content .post-nav-left {
	float: left;
	width: 50%;
}

#content .post-nav-right {
	float: right;
	width: 50%;
	text-align: right;
}

#content .infinite {
	display: none;
}

#infscr-loading {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	color: #bbb;
	height: 75px;
	letter-spacing: 3px; 
}

#infscr-loading img, #infscr-loading div {
	display: inline-block;
}

#infscr-loading img {
	display: none;
}

#infscr-loading img {
	margin-right: 5px;
}

/* ===[ Post Format Styles ]=== */

.format-quote {
	background: #282D30;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: -1px;
    font-size: 44px;
    line-height: 54px;
	color: #505A5F;
	padding-bottom: 30px;
}

.format-quote .box {
	text-align: right;
	padding-left: 200px;
}

.format-quote p {
	margin-bottom: 0 !important;
}

.format-quote a {
	color: #505A5F;
}

.format-quote a:hover {
	color: #5B666B;
}

.format-quote strong {
	font-size: 18px;
	letter-spacing: 1px;
	width: 100%;
	float: left;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}

.format-quote strong:before {
	content: "\2014";
}

/* ===[ Status Styles ]=== */

.status-wrap {
	background: url(images/note-left.png) repeat-y;
	line-height: 30px;
	color: #777;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

.status-wrap p {
	margin-bottom: 30px !important;
}

.status-wrap .box {
	background: url(images/note-line.png);
	margin: 60px auto 20px auto;
}

.status-wrap .entry-title {
	margin-top: -42px;
	margin-bottom: 26px;
	margin-right: 90px;
	line-height: 35px;
	font-size: 30px;
	letter-spacing: 0;
}

.status-wrap .date-title {
	right: 105px;
	top: 4px;
	left: auto;
	background: #fff198;
	background: rgba(252,232,106, .7);
	color: #333;
	font-size: 11px;
	line-height: 22px;
	font-weight: bold;
	text-transform: none;
	font-family: 'Open Sans';
	padding: 0 5px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
}


/* ===[ Comment Styles ]=== */

.comments {
	background: #fff;
    float: left;
	width: 100%;
	margin-top: 50px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 1px 2px;
}

.comments-wrap {
	width: 100%;
	padding-top: 60px;
	margin: 0 auto;
	padding: 50px 100px 0 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#comments-title {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	letter-spacing: -1px;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	background: #f7f7f7;
 	padding: 30px 0 30px 100px;
 	margin: 0 0 0 0;
}

.comments-open {
	border-bottom: solid 1px #e7e7e7; 
	margin-bottom: 60px !important;
}

#respond {
    margin: 0 0 15px 0;
    padding: 0px 0 60px 0;
}

.comment #respond { 
	margin-top: 0px;
	padding-bottom: 10px;
}

#respond h3 {
	display: inline-block;
	letter-spacing: -1px;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 36px;
	font-weight: normal;
	margin: 0;
}

.commentlist #respond h3 {
	margin-top: 15px;
}

#respond label {
	text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 0 0;
    color: #555;
}

#respond p {
	position: relative;
}

#respond .required {
	color: #E75353;
	font-size: 10px;
}

#respond p { margin-bottom: 15px }

#commentform p {
	width: 100%;
}

#respond input[type="text"], #respond textarea {
    color: #999;
    border: none;
    border: solid 1px #eee;
    border-bottom: solid 1px #ddd;
    background: #fff;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	-webkit-appearance:none;
}

#respond .comment-form-comment {
	width: 100%;
	display: inline-block;
}

#respond input:focus, #respond textarea:focus {
    outline: none;
}

#respond textarea {
    line-height: 22px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#commentform #submit {
	background: #555;
	color:#fff;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	padding:10px 20px;
	border: none;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
	-webkit-appearance: none;
}

#commentform #submit:hover {
	background: #777;
	cursor: pointer;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
}

.form-allowed-tags {
	font-size: 12px;
	line-height: 20px;
	color: #999;
	float: left;
	margin: 10px 0 25px 0;
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.commentlist {
	list-style-type: none !important;
	counter-reset:li;
}

.commentlist li {
	position: relative;
	float: left;
	width: 100%;
    padding: 0 0 25px 0;
    margin: 0 0 40px 0;
    border-bottom: solid 1px #e7e7e7;
    position: relative;
    list-style:none;
}

.commentlist > li:before {
    content: "0" counter(li);
    counter-increment:li;
    /* Position and style the number */
    position:absolute;
    font-family: 'NovecentowideLightBold', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: -1px;
    left:-50px;
    top: -5px;
    color:#ddd;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

.children li { 
	padding-left: 50px;
	border-left: solid 1px #e7e7e7;
}

.children li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.comment-block {
    padding: 0;
}

.comment-text {
	position: relative;
}

.comment-text p {
	margin-bottom: 20px !important;
}

.comment-text blockquote {
	background: #eee;
	color: #888;
	padding-bottom: 7px;
}

.comment-text blockquote:after {
	display: none;
}

.comment-text blockquote p { 
	padding-left: 0;
}

.reply a {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 9px;
	background: #e9e9e9;
	color: #999;
	padding: 5px 10px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in;
}

.reply a:hover {
	color: #fff;
	background: #666;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
}

.comments .children .reply { text-align: left }

#cancel-comment-reply-link {
	position: relative;
	color: #999;
    margin: 0 0 0 0;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    -webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
}

#cancel-comment-reply-link:hover {
	color: #555;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
}

#cancel-comment-reply-link i {
	font-size: 18px;
	color: #999;
}

#cancel-comment-reply-link i:hover {
	color: #555;
	cursor: pointer;
}
.comments .logged-in-as a {
	color: #777;
}

.comments .logged-in-as a:hover {
	color: #555;
}

.comment-notes, .comments .logged-in-as {
	width: 100% !important;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #bbb;
	margin-top: 5px !important;
}

.comment-notes .required {
	position: relative !important;
	top: auto !important;
	right: auto !important;
}

.comment-awaiting-moderation {
    color: #555;
    font-weight: bold;
    font-size: 11px;
}

.vcard {
	width: 100%;
    float: left;
}

.vcard img {
    float: left;
	height: 35px;
	width: 35px;
	-webkit-border-radius: 100px; 
	-moz-border-radius: 100px; 
	border-radius: 100px;
}

.fn {
    float: left;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0;
}

.fn a { 
	color: #555;
}

.fn a:hover {
	background: none;
	color: #777;
}

.comment-info {
	margin-bottom: 20px;
	position: relative;
}

.comment-meta {
    float: left;
    margin: 0 0 0 12px;
    line-height: 11px;
}

.comment-time {
	text-transform: uppercase;
    font-size: 10px;
    color: #bbb;
    display: inline-block;
    margin-top: 4px;
}

.comment-time:hover {
	color: #999;
}

.comment-edit-link {
	font-size: 11px;
}

#comment-nav-below {
	display: inline-block;
	width: 100%;
	padding: 10px 10px 20px 10px;
	margin: -44px 0 20px 0;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: solid 1px #e7e7e7;
}

#comment-nav-below .nav-previous {
	float: left;
}

#comment-nav-below .nav-next {
	float: right;
}

/* ===[ Post Gallery Styles ]=== */

.alignleft { float: left }

.alignright { float: right }

.aligncenter { 
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption img, .size-thumbnail {
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
}

.bypostauthor { }

.archive .gallery-wrap, .search .gallery-wrap {
	display: none;
}
.gallery-wrap {
	margin-bottom: 10px;
}

/* ===[ Drawer Styles ]=== */

.js #drawer-inside {
	display: none;
}

#drawer-toggle {
	position: fixed;
	top: 75px;
	right: 30px;
	z-index: 50;
	text-align: center;
	color: #888;
	font-size: 22px;
}

#drawer-toggle2 {
	display: none;
}

#drawer-toggle:hover {
	color: #555;
}

#drawer {
	position: fixed;
	display: inline-block;
	width: 100%;
	z-index: 20;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	background: #282D30 url(images/cartographer-dark.png) fixed;
}

#drawer-inside {
	position: relative;
	z-index: 20;
	margin: 0 0 0 0;
	padding: 0 50px;
	color: #777;
	line-height: 22px;
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	#drawer { 
	    background: #282D30 url(images/cartographer-dark_@2X.png) fixed;
	    background-size: 499px 500px;
	    background-attachment: fixed;
	}
}

#drawer-inside .widget {
	float: left;
	width: 20%;
	font-size: 13px;
	padding: 75px 0 75px 50px;
}

#drawer-inside .widget:last-child {
	margin-right: 0;
	padding-right: 0;
}

#drawer-inside .widget a {
	color: #bbb;
}

#drawer-inside .widget a:hover {
	color: #fff;
}

#drawer-inside .widget p {
	margin-bottom: 20px;
}

#drawer-inside .widgettitle {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 15px;
	letter-spacing: 0px;
}

#drawer-inside .chirp li {
	border-bottom: solid 1px #444;
}

#drawer-inside .chirp li:last-child {
	border-bottom: none;
}

.copyright {
	float: right;
	text-align: center;
	margin: 40px 75px 40px 0;
	font-size: 10px;
	text-transform: uppercase;
	color: #bbb;
}

.copyright a {
	color: #555;
}

/* ===[ Various Default WordPress Styles ]=== */

.sticky {}

.wp-caption {
	color: #999;
    max-width: 96%; /* Image does not overflow the content area */
    text-align: center;
    text-transform: uppercase;
}

.wp-caption.alignnone { margin: 5px 20px 20px 0 }

.wp-caption.alignleft { margin: 5px 40px 10px 0 }

.wp-caption.alignright { margin: 5px 0 10px 40px }

img.alignleft, img.alignright {
	padding: 5px;
}

img.alignleft {
	margin: 5px 40px 10px 0;
}

img.alignright {
	margin: 5px 0 10px 40px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 10px !important;
    margin: 0 !important;
    padding: 3px 0 0 0!important;
}

.gallery {
	margin-bottom: 30px !important;
}

.gallery-caption { text-align: center }

.gallery-item {
	float: none !important;
	display: inline-block;
    width: 115px !important;
    margin-right: 2px;
    margin-bottom: 2px;
}

.gallery-icon { width: 87px }

.gallery-item img {
    width: 75px;
    height: auto;
    padding: 5px;
    border: solid 1px #e6e6e6 !important;
}

.gallery-item img:hover {
	border: solid 1px #ccc !important;
}

/* ===[ WPCF7 Styles ]=== */

.wpcf7 p {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

input[type="text"], input[type="email"], textarea {
    color: #777;
    border: none;
    border: solid 1px #eee;
    border-bottom: solid 1px #ddd;
    background: #fff;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	-webkit-appearance: none;
}

.wpcf7-submit {
	background: #555;
	color:#fff;
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	padding:10px 20px;
	border: none;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	-webkit-transition: .1s ease-in;  
	-moz-transition: .1s ease-in;  
	-o-transition: .1s ease-in;  
	transition: .1s ease-in; 
	-webkit-appearance: none;
}

.wpcf7-submit:hover {
	background: #777;
	cursor: pointer;
}

.wpcf7-response-output {
	background: #faf7d6;
	border: none !important;
}
.wpcf7-mail-sent-ok {
	margin-left: 0px !important;
	margin-right: 0px !important;
	background: #ECF3E5;
	background: rgba(229, 243, 212, .5);
	padding: 15px !important;
	border: solid 1px #D2EFAC !important;
}
.wpcf7-validation-errors {
	margin-left: 0px !important;
	background: #FCF3F3;
	background: rgba(255, 238, 238, .5);
	border: solid 1px #FBDCDC !important;
	padding: 10px !important;
	margin-right: 0px !important;
}

/* ===[ Chirp Styles ]=== */

.chirp .chirp-avatar {
	display: none;
}

.chirp .meta {
	font-size: 11px;
	display: block;
	margin-top: 10px;
}

.chirp li {
	border-bottom: solid 1px #ddd !important; 
}

.chirp li:last-child {
	border-bottom: none !important;
}

/* ===[ Social Icons ]=== */

#icons {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

#icons a {
	display: inline-block;
	text-align: center;
}

/* ===[ Flickr and Dribbble Styles ]=== */

.flickr-widget li, .dribbble-widget li {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 0 15px 0 0;
}

.flickr-widget li img, .dribbble-widget li img {
	width: 110px;
	height: auto;
}

/* ===[ Tag Cloud Styles ]=== */

.tagcloud a {
	background: #555;
	padding: 3px 8px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	color: #fff;
}

/* ===[ Custom Archive Page ]=== */

#archive {
	border-top: solid 1px #eee;
	display: inline-block;
	width: 100%;
	padding-top: 40px;
	font-size: 15px;
	line-height: 24px;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 75px;
	-webkit-column-gap: 75px;
	column-gap:75px;
}

.error404 #archive {
	border-top: none;
}	

.archive-col {
	display: inline-block;
}

.archive-col ul {
	padding: 0;
	margin: 0 0 40px 18px !important;
}

.archive-col li {
	list-style-type: square;
	margin-bottom: 5px;
}

#archive h4 {
	font-family: 'Abel', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
}
