<div id="google_comments"></div>
<div class="clearfix"></div>
<div class="copyright">&copy; 2014 Faisal Qureshi</div>
<script type='text/javascript' src='/public/js/jquery.fitvids.js'></script>
<script type='text/javascript' src='/public/js/retina-1.1.0.min.js'></script>
</body>
</html>