 <!DOCTYPE html>
 <html lang="en-US">
 <head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>
   {% if page.title %}
     {{ page.title }} &middot; {{ site.title }}
   {% else %}
     {{ site.title }} &middot; {{ site.tagline }}
   {% endif %}
 </title>
 <link rel="profile" href="http://gmpg.org/xfn/11" />
 <link rel="pingback" href="../xmlrpc.php" />
 <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
 <!--[if lte IE 8]>
 <link rel="stylesheet" type="text/css" href="/public/css/ie.css" media="screen"/>
 <script type="text/javascript" src="/public/js/ie-html5.js"></script>
 <![endif]-->
 <script type="text/javascript" src="/public/js/FancyZoom.js" type="text/javascript"></script>
 <script type="text/javascript" src="/public/js/FancyZoomHTML.js" type="text/javascript"></script>
 
 <script type="text/javascript">document.documentElement.className='js';</script>
 <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
   ga('create', 'UA-47315792-1', 'meaningfuluses.com');
   ga('send', 'pageview');
 
 </script>
	
<link rel='stylesheet' id='style-css'  href='/public/css/style.css' type='text/css' media='all' />

<link rel="stylesheet" href="/public/css/font-awesome/css/font-awesome.min.css">
 
 <link rel='stylesheet' id='fixed-flexslider-css-css'  href='/public/css/flexslider.css' type='text/css' media='screen' />
 <link rel='stylesheet' id='fixed-google-opensans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&ver=3.6.1' type='text/css' media='all' />
 <link rel='stylesheet' id='fixed-google-abel-css'  href='http://fonts.googleapis.com/css?family=Abel&ver=3.6.1' type='text/css' media='all' />
 <link rel='stylesheet' id='fixed-media-queries-css-css'  href='/public/css/media-queries.css' type='text/css' media='screen' />
 <style type="text/css">
 .GooglePlusComments { padding:0px;clear:both; }
 .GooglePlusComments li { list-style-type: none; width:100%; margin-bottom:20px; display:block;clear:both; }
 .CommentAuthor { float: left; margin-right: 10px; width: 100px; }
 .CommentAuthor img { width:100px;height:100px;margin-bottom:5px;border: solid 2px white; } 
 .CommentHeader a { text-decoration: none; float: left; margin-right: 10px; color: #00628B; } 
 .CommentDateTime { }
 .CommentAuthorName { font-weight:bold; }
 .CommentHeader{margin-bottom:5px}
 .CommentContent { text-align:justify;color:#000000; }
 </style>
 </head>
