<header class="header">
<h1 class="logo-image">
<a href="{{ site.url }}" title="fqure">
<img class="logo" src="/public/fqure-retina.png" alt="fqure" width="100" height="100" /> </a>
</h1>
<div id="ok-icons-widget-2" class="widget icons">
<div class="icons-widget">
<div id="icons" class=""> <a href="http://twitter.com/fqure" title="Twitter"><i class="fa fa-twitter"></i></a>
</div>
</div>
</div>
<h2 class="logo-subtitle"> Meaningful Uses For More Than 140.</h2>
<nav role="navigation" class="header-nav">
<div
class="menu-header-container"><ul
id="menu-header" class="nav">
<li id="menu-item-471" class="menu-item"><a
href="/about">About</a></li>
<li id="menu-item-470" class="menu-item"><a
href="/archive">Archive</a></li>
<li id="menu-item-469" class="menu-item">
<a href="http://twitter.com/fqure">I&#8217;m on Twitter</a></li>
<li id="menu-item-470" class="menu-item">
<a href="https://plus.google.com/111678126261914545166"
 rel="publisher">Sometimes Google+</a>
</li>
</ul>
</div>
</nav> 
</header>