Share this: <b><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=fqure"> {{ page.title }}</a></b> or <a href="http://twitter.com/fqure" title="Twitter"><i class="fa fa-twitter"></i></a> me.
