@font-face {
  font-family: 'fontello';
  src: url('fontello-16210455.eot');
  src: url('fontello-16210455.eot#iefix') format('embedded-opentype'),
       url('fontello-16210455.woff') format('woff'),
       url('fontello-16210455.ttf') format('truetype'),
       url('fontello-16210455.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 #icons [class^="icon-"]:before, #icons [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
 
#icons .icon-twitter:before { content: '\e801'; } /* '' */
#icons .icon-facebook:before { content: '\e809'; } /* '' */
#icons .icon-github-circled:before { content: '\e807'; } /* '' */
#icons .icon-rss:before { content: '\e80c'; } /* '' */
#icons .icon-pinterest-circled:before { content: '\e803'; } /* '' */
#icons .icon-gplus:before { content: '\e806'; } /* '' */
#icons .icon-linkedin:before { content: '\e804'; } /* '' */
#icons .icon-play-circled:before { content: '\e80b'; } /* '' */
#icons .icon-youtube-play:before { content: '\e800'; } /* '' */
#icons .icon-instagram:before { content: '\e805'; } /* '' */
#icons .icon-flickr:before { content: '\e808'; } /* '' */
#icons .icon-tumblr:before { content: '\e802'; } /* '' */
#icons .icon-dribbble:before { content: '\e80a'; } /* '' */
