<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
<body class="single single-post postid-191 single-format-gallery fixed-bg" onload="setupZoom()">
 {% include sidebar.html %}
 <div id="wrapper"><div
id="main"><div
id="content"><div
class="posts">{{ content }}</div></div></div></div>
  {% include footer.html %}
