<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
<body class="single single-post postid-191 single-format-gallery fixed-bg" onload="setupZoom()">
 {% include sidebar.html %}
<div
id="wrapper"><div
id="main"><div
id="content"><div
class="posts"> <article
class="post-191 post type-post status-publish format-gallery hentry category-photography category-technology tag-apple tag-iphone-5 post">
<div class="box-wrap">
<div class="box"><div class="post-content"> <header><h1 class="entry-title">{{ page.title }}</h1>
</header>{{ content }}

<div
class="pagelink"></div></div></div></div> </article></div></div>

</div></div>

{% include footer.html %}