<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
<body class="fixed-bg" onload="setupZoom()">
 {% include sidebar.html %}
<div id="wrapper">

<div id="main">
<div id="content">
<div class="posts">
<article class="post-191 post type-post status-publish format-gallery hentry category-photography category-technology tag-apple tag-iphone-5 post">
<img height="300" src="{{ page.image }}" class="attachment-large-image wp-post-image" />
<div class="box-wrap">
<div class="box">
<div class="post-content">
<header><h1 class="entry-title">{{ page.title }}</h1>
<div class="date-titled">{{ page.date | date_to_string }}</div>

<div id="tag-container">

		{% unless page.tags == empty %}
		<ul>
		  
		  {% assign tags_list = page.tags %}
		  {% if tags_list.first[0] == null %}
			{% for tag in tags_list %} 
				<li  class="tags">
					<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref">
					{{ tag }}
					{% unless forloop.last %}{% endunless %}
					</a>
				</li>
			{% endfor %}
		  {% else %}
			{% for tag in tags_list %} 
				<li  class="tags">
					<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag[0] }}-ref">
						{{ tag[0] }}
						{% unless forloop.last %}{% endunless %}
					</a>
				</li>
		   	
			{% endfor %}
		  {% endif %}
		  {% assign tags_list = nil %}
		</ul>
		{% endunless %}  
</div>

</header>
{{ content }}
</div>
</div>
</div> 
</article>

</div>

</div>
</div>
{% include comments.html %}
    
</div>


  {% include footer.html %}
